# Ignora tudo por padrão; libera só o necessário pro build.
*

!/bases
!/components
!/development
!/projects
!/src
!/alembic
!/alembic.ini
!/pyproject.toml
!/uv.lock
!/workspace.toml
!/.python-version
!/README.md
