[MASTER]
py-version=3.12
jobs=0
persistent=no

[MESSAGES CONTROL]
disable=
    duplicate-code,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    assignment-from-no-return,
    broad-exception-caught,
    cyclic-import,
    import-outside-toplevel,
    invalid-name,
    line-too-long,
    not-callable,
    unsubscriptable-object,
    too-many-arguments,
    too-many-locals,
    too-many-positional-arguments,
    too-many-return-statements,
    too-few-public-methods,
    trailing-newlines

[FORMAT]
max-line-length=88
